/********** global page stuff **********/
@font-face {
	font-family: "questa-grande-regular";
	src: url('fonts/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('fonts/2-questa_grande_regular_31-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "corbert-regular";
	src: url('fonts/Corbert-Regular-webfont.woff2') format('woff2'),
         url('fonts/Corbert-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


html, body {
	min-height: 100%;
	line-height: 1.25;
	box-sizing: border-box;
	font-family: "questa_grande_regular";
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #8c8c8c;
	min-height: 100%;
}

/********** global element styles **********/
button, .button {
	color: #b4b4b4;
	border: 1px solid #8c8c8c;
	border-radius: 3px;
	background-color: transparent;
	text-align: center;
	padding: 0.4rem;
	text-transform: uppercase;
	font-size: .9rem;
}
button:hover {
	color: #e0e0e0;
}

input {
	border-radius: 3px;
	border: 1px solid #8c8c8c;
	color: black;
	height: 1.7rem;
}
textarea {
	border-radius: 3px;
	border: 1px solid #8c8c8c;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
}
h1 {font-size: 4rem;}
h2 {font-size: 3.4rem;}
h3 {font-size: 2.8rem;}
h4 {font-size: 2.2rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1rem;}

a {
	text-decoration: none;
	color: #8c8c8c;
}

a,.a,button,.button,h1,h2,h3,h4,h5,h6 {
	font-family: "corbert-regular";
}

label {
	font-weight: bold;
}

fieldset {
	border: none;
	padding: .5rem;
	margin: 0;
}
fieldset > .field {
	display: table-row;
	padding: 2rem;
}
.field > * {
	display: table-cell;
	padding: 0 1rem 0 0;
	margin: .5rem 0 0 0;
}
fieldset legend {
	font-weight: bold;
	font-size: 1.1rem;
}

/********** TEST TEST TEST **********/
.red {
	border: 1px solid #f44e42;
}
.green {
	border: 1px solid #89f93e;
}
.blue {
	border: 1px solid #3b7ef9;
}
/********** TEST TEST TEST **********/


/********** structure **********/
.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.panel {
	background-color: #222222;
	border-top: 3px solid #5e5e5e;
	padding: 0.25rem;
}
.panel-head {
	padding: 0.25rem;
	overflow: auto;
}
.panel-head-title {

}
.panel-head-buttons {
	text-align: center;
}
@media (min-width: 750px) {
	.panel-head-title {
		display: inline-block;
	}
	.panel-head-buttons {
		float: right;
		display: inline-block;
	}
}

/* top of page */
.page-head {
	padding: 0.25rem 1.25rem;
	margin-bottom: 1rem;
	
}
.nav-bar a, .nav-bar .a {
	margin-right: 2rem;
	cursor: pointer;
}
.nav-bar a:last-child, .nav-bar .a:last-child {
	margin-right: 0;
}

.center-column {
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 750px) {
	.center-column {
		width: 50%;
		min-width: 750px;
	}
}

.left-view {
	margin-bottom: 1.25rem;
}
.right-view {

}
@media (min-width: 750px) {
	.wrapper {
		width: 90%;
		padding: 0;
	}
	.left-view {
		width: 30%;
		float: left;
	}
	.right-view {
		width: 68%;
		float: left;
		margin-left: 2%;
	}
}

/********** ui classes **********/
/* login-panel will be wrapped in login-panel-container in menu bar drop-down version only */
.login-panel-container {
	position: relative;
}
.login-panel-container .login-panel {
	position: absolute;
	right: 0;
	top: 1.25rem;
}
.login-panel {
	padding: .25rem;
	width: 20rem;
	z-index: 10;
	background-color: #404040;
}

/* pickers */
.picker-container {
	padding: 1.5rem;
}
.picker-container * {
	cursor: default;
}
.picker-item {
	border: 1px solid transparent;
	margin-bottom: .25rem;
	background-color: #030202;
}
.picker-text {
	font-size: 0.8rem;
	font-style: italic;
	padding: 0 .5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.picker-selected {
	border: 1px solid #b4b4b4;
	background-color: #222222;
}

/* general */
.small-note {
	font-size: 0.8rem;
	font-style: italic;
}
.info-box {
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #8c8c8c;
	border-radius: 3px;
	width: 12rem;
	height: 4rem;
	text-align: center;
	margin: 1rem 2.5rem;
}
/* editor fields */
/* percent widths here dont work with fieldset trick */
.editor-title-cont {
	width: 100%;
}
.editor-text-cont {
	width: 100%;
	height: 22rem;
}
.editor-title-cont label {
	display: block;
}
.editor-title-cont input {
	width: 100%;
}
.editor-text-cont textarea {
	width: 100%;
	height: 20rem;
}
@media(min-width: 750px) {
	.editor-title-cont {
		width: 65%;
		margin: 0 auto;
		min-width: 20rem;
	}
	.editor-text-cont {
		width: 65%;
		margin: 0 auto;
		min-width: 20rem;
	}
}
.option-container {
	width: 100%;
	min-height: 6rem;
}
@media(min-width: 750px) {
	.option-container {
		width: 65%;
		margin: 0 auto;
		min-width: 25rem;
	}
}
.option-repeater {
	text-align: center;
}
.option-repeater .icon-text-button i {
	margin-right: 0.5rem;
}
.option-box {
	display: inline-block;
	border: 1px solid #8c8c8c;
	border-radius: 3px;
	margin: 1rem;
	padding: 1rem;
}
.option-box textarea {
	height: 6rem;
}
.equal-buttons {
}
.equal-buttons button {
	width: 33%;
	border: none;
}
.whole-button button {
	width: 100%;
	border: none;
	font-size: 80%;
}
/* popup */
.popup-container {
	position: fixed;
	left: 15%;
	right: 15%;
	top: 15%;
	min-height: 30%;
	z-index: 10;
	background-color: #222222;
	border: 3px solid #5e5e5e;
	text-align: center;
}
.popup-container .picker-container {
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

/* read stuff */
.read-option {
	border-top: none;
	cursor: pointer;
}

/********** utilities **********/
.spacer-bottom {
	margin-bottom: 1.25rem;
}
.spacer-top {
	margin-top: 1.25rem;
}
.spacer-left {
	margin-left: 1.25rem;
}
.spacer-right {
	margin-right: 1.25rem;
}
.center-contents {
	text-align: center;
}
.left-align-contents {
	text-align: left;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.ib {
	display: inline-block;
}
.it {
	display: inline-table;
}
.cf {
	content: "";
	display: table;
	clear: both;
}
.bold {
	font-weight: bold;
}
.cell-center {
	vertical-align: middle;
	text-align: center;
}
.wide {
	width: 90%;
}