/********** global page stuff **********/

html, body {
	min-height: 100%;
	line-height: 1.25;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #8c8c8c;
	min-height: 100%;
}

/********** global element styles **********/
button, .button {
	color: #b4b4b4;
	border: 1px solid #8c8c8c;
	border-radius: 3px;
	background-color: transparent;
	text-align: center;
	padding: 0.4rem;
	text-transform: uppercase;
	font-size: .9rem;
}
button:hover {
	color: #b4b4b4;
}

input {
	border-radius: 3px;
	border: 1px solid #8c8c8c;
	color: black;
	height: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
}
h1 {font-size: 4rem;}
h2 {font-size: 3.4rem;}
h3 {font-size: 2.8rem;}
h4 {font-size: 2.2rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1rem;}

a {
	text-decoration: none;
	color: #8c8c8c;
}

fieldset {
	border: none;
	padding: .5rem;
	margin: 0;
}
fieldset > .field {
	display: table-row;
	padding: 2rem;
}
.field > * {
	display: table-cell;
	padding: 0 .5rem 0 0;
	margin: .5rem 0 0 0;
}
fieldset legend {
	font-weight: bold;
	font-size: 1.1rem;
	/*margin-bottom: .5rem;*/
}

/********** TEST TEST TEST **********/
.red {
	border: 1px solid #f44e42;
}
.green {
	border: 1px solid #89f93e;
}
.blue {
	border: 1px solid #3b7ef9;
}
/********** TEST TEST TEST **********/


/********** structure **********/
.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.panel {
	background-color: #222222;
	border-top: 3px solid #5e5e5e;
	padding: 0.25rem;
}
.panel-head {
	padding: 0.25rem;
}
.panel-head-title {

}
.panel-head-buttons {
	text-align: center;
}
@media (min-width: 550px) {
	.panel-head-title {
		display: inline-block;
	}
	.panel-head-buttons {
		float: right;
		display: inline-block;
	}
}

/* top of page */
.page-head {
	padding: 0.25rem 1.25rem;
	margin-bottom: 1rem;
	
}
.panel-head {

}
.nav-bar a, .nav-bar .a {
	margin-right: 2rem;
	cursor: pointer;
}
.nav-bar a:last-child, .nav-bar .a:last-child {
	margin-right: 0;
}

/* stories view */
.center-column {
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 550px) {
	.center-column {
		width: 50%;
	}
}

/********** ui classes **********/
/* login-panel will be wrapped in login-panel-container in menu bar drop-down version only */
.login-panel-container {
	position: relative;
}
.login-panel-container .login-panel {
	position: absolute;
	right: 0;
	top: 1.25rem;
}
.login-panel {
	padding: .25rem;
	width: 20rem;
	z-index: 10;
	background-color: #404040;
}

/* pickers */
.picker-container {
	padding: 1.5rem;
}
.picker-container * {
	cursor: default;
}
.picker-item {
	border: 1px solid transparent;
	margin-bottom: .25rem;
	background-color: #030202;;
}
.picker-text {
	font-size: .8rem;
	font-style: italic;
	padding: 0 .5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.picker-selected {
	border: 1px solid #b4b4b4;
	background-color: #222222;
}
/********** utilities **********/
.spacer-bottom {
	margin-bottom: 1.25rem;
}
.spacer-top {
	margin-top: 1.25rem;
}
.center-contents {
	text-align: center;
}
.float-right {
	float: right;
}
.ib {
	display: inline-block;
}