<div class = "panel center-column">
	<header>
		<h4>Stories</h4>
	</header>
	
	<section class = "picker-container">
		<article 	class = "picker-item"
					ng-class = "{'picker-selected': v_story.current.story._id === story._id}"
					ng-repeat = "story in v_story.pages.stories"
					ng-click = "v_story.current.story = story">
			<header class = "panel-head">
				<h6 class = "panel-head-title">{{story.disp_title()}}</h6>
				<div class = "panel-head-buttons">
					<button 	ng-if = "v_story.current.story._id === story._id" 
								ng-click = "v_story.read_story(story)">Read</button>
				</div>
			</header>
			<p class = "picker-text">{{story.disp_description()}}</p>
		</article>
	</section>
</div>