<div class = "v_read container">
	<!-- title and page content -->
	<div ng-if = "! v_read.ask_for_edit" class = "row">
		<section class = "six columns offset-by-three panel reader_text">
			<article>
				<h5>{{v_read.current.page.disp_title()}}</h5>
				{{v_read.current.page.disp_text()}}
			</article>
		</section>
	</div>
	<!-- options -->
	<div ng-if = "! v_read.ask_for_edit" class = "row">
		<section class = "six columns offset-by-three reader_options">
			<div class = "row">
				<article 	class = "panel six columns"
							ng-repeat = "option in v_read.current.page.get_options()"
							ng-click = "v_read.turn_page(option.target_page, option._id)">
					{{option.text()}}
				</article>
			</div>
		</section>
	</div>
	
	
	<!-- special placeholder page to launch branch edit -->
	<div ng-if = "v_read.ask_for_edit" class = "row">
		<section class = "six columns offset-by-three panel reader_text">
			<article>
				<h5>Nothing</h5>
				There is nothing here. <br> Would you like to write the rest of the story? <br>
				<button ng-disabled = "v_read.branch_edit_fail" ng-click = "v_read.branch_edit_option(v_read.current.story._id, v_read.ask_for_edit_option_id)">Yes</button>
				<!-- there should be 'back one page' and a 'start story over' buttons here -->
				{{v_read.branch_edit_message}}
			</article>
		</section>
	</div>
	
	<!-- special placeholder page if there are no pages in the current story -->
	<div ng-if = "v_read.empty_story" class = "row">
		<section class = "six columns offset-by-three panel reader_text">
			<h5>Nothing</h5>
			There is nothing here. <br> This story has not been written, there is nothing to read.
		</section>
	</div>
</div>