<div ng-if = "v_story.users.logged_in()" class = "v_story container">
	<div class = "row">
	
		<!-- left/top control panel -->
		<div class = "four columns panel">
			<div class = "container">
				<section class = "row">
					<!-- story selector header -->
					<header>
						<h5 class = "ib">Stories</h5>
						<button class = "u-pull-right"
								ng-if = "v_story.users.logged_in()"
								ng-click = "v_story.create_new_story()">Create Story</button>
					</header>
					<!-- story selector -- list of available stories -->
					<article 	class = "picker_item"
								ng-class = "{'picker_selected': v_story.current.story._id === story._id}"
								ng-repeat = "story in v_story.pages.stories"
								ng-click = "v_story.current.story = story">
						<header>
							<p class = "picker_title ib">{{story.disp_title()}}</p>
							<strong ng-if = "story.modified" class = "u-pull-right">*</strong>
						</header>
						<p class = "picker_text">{{story.disp_description()}}</p>
					</article>
				</section>
			</div>
		</div>
		
		<!-- right/bottom main panel -->
		<div class = "eight columns panel">
			<!-- viewer panel -->
			<section class = "row edit_panel" ng-if = "v_story.story_mode === 'view' && v_story.current.story">
				<!-- story viewer -->
				<header>
					<div class = "row button_row">
						<h5 class = "ib">{{v_story.current.story.disp_title()}}</h5>
					
						<button class = ""
								ng-click = "v_story.read_story()"
								title = "Read Story">Read</button>
						<button class = ""
								ng-if = "v_story.current.story.my_story"
								ng-click = "v_story.set_story_mode('edit')"
								title = "Edit Story">Edit Story</button>
					</div>
					Created by: <strong>{{v_story.current.story.created_by}}</strong>
				</header>
				
				<section class = "row story_view_body">
					<h6 class = "four columns highlight">{{v_story.public_view_display(v_story.current.story._public_view)}}</h6>
					<h6 class = "four columns highlight">{{v_story.public_edit_display(v_story.current.story._public_edit)}}</h6>
					
				</section>
				
				<section>
					<label>Title</label>
					<p>{{v_story.current.story.title()}}</p>
					<label>Description</label>
					<p>{{v_story.current.story.description()}}</p>
				</section>
			</section>
			
			<!-- editor panel -->
			<section class = "row edit_panel" ng-if = "v_story.story_mode === 'edit' && v_story.current.story">
				<!-- story editor -->
				<header>
					<div class = "row button_row">
						<h5 class = "ib">Edit</h5>

							<button class = "u-pull-right" 
									ng-click = "v_story.exit_edit()"
									title = "Finished">Finished</button>
							<button class = "u-pull-right"
									ng-click = "v_story.save_current_story()"
									title = "Save">Save</button>
							<button class = "u-pull-right"
									ng-click = "v_story.edit_pages()"
									title = "Write Pages">Write Pages</button>
					</div>
				</header>
				
				<section>
					<label class = "ib" for = "story_public_view">Public?
					<input 	type = "checkbox" 
							id = "story_public_view"
							ng-model = "v_story.current.story.public_view"
							ng-model-options = "{getterSetter: true}">
					</label>


					<label class = "ib" for = "story_public_edit">Publically Editable?
						<input 	type = "checkbox" 
								id = "story_public_edit"
								ng-model = "v_story.current.story.public_edit"
								ng-model-options = "{getterSetter: true}">
					</label>
				</section>
				
				<section>
					<label for = "story_title">Title</label>
					<input 	id = "story_title" 
							class = "editor_title"
							ng-model = "v_story.current.story.title"
							ng-model-options = "{getterSetter: true}">
					<label for = "story_description">Description</label>
					<textarea 	id = "story_description" 
								class = "editor_text"
								ng-model = "v_story.current.story.description"
								ng-model-options = "{getterSetter: true}"></textarea>
				</section>
			</section>
			
			<!-- placeholder if the user has no stories -->
			<section ng-if = "v_story.pages.stories.length === 0" class = "container">
				<header>
					<h5 class = "ib">You have no saved stories</h5>
					<p>Click "Create Story" to begin</p>
				</header>
			</section>
		</div>
		
	</div>
</div>

<!-- message if user is not logged in -->
<div ng-if = "!v_story.users.logged_in()" class = "v_story_user container">
	<div class = "row">
		<div class = "eight columns offset-by-two panel big_message_container center">
			<h5>Log in to view your stories</h5> <!-- vertically center this -->
			<venture-login></venture-login>
		</div>
	</div>
</div>