<div class = "wrapper">
	
	<!-- left/top control panel -->
	<div class = "left-view panel">
		<!-- panel header -->
		<header class = "panel-head">
			<h5 class = "panel-head-title">{{v_page.current.story.title()}}</h5>
			<div class = "panel-head-buttons">
				<button ng-click = "v_page.save_all_pages()">Save All</button>
			</div>
		</header>
		
		<!-- page picker -->
		<section class = "picker-container">
			<article 	class = "picker-item"
						ng-show = "!page.ui.collapsed"
						ng-click = "v_page.current.page = page" 
						ng-repeat = "page in v_page.pages.sorted_page_list track by $index"
						ng-class = "{'picker-selected': v_page.current.page._id === page._id}"
						ng-style = "{'margin-left': v_page.page_margin(page.ui.depth)}"
						>
				<header class = "panel-head">
					<strong 	ng-attr-title = "{{page.ui.cx_collapsed ? 'Expand' : 'Collapse'}}" 
										class = "nav" 
										ng-click = "v_page.toggle_collapsed(page)">{{page.ui.cx_collapsed ? "+" : "-"}}</strong>
					<h6 class = "panel-head-title">{{page.disp_title()}}</h6>
					<div class = "panel-head-buttons">
						<strong ng-if = "page.modified">*</strong>
					</div>
				</header>
				<p class = "picker-text">{{page.disp_text()}}</p>
			</article>
		</section>
	</div>
	
	<!-- right/bottom control panel -->
	<div ng-if = "v_page.current.story" class = "right-view panel">
		<section ng-if = "v_page.current.page">
			<!-- page editor header -->
			<header class = "panel-head">
				<h5 class = "panel-head-title">{{v_page.current.page.disp_title()}}</h5>
				<div class = "panel-head-buttons">
					<!-- maybe a save current button goes here? -->
					<button ng-click = "v_page.delete_page(v_page.current.page)">Delete Page</button>
					<button ng-click = "v_page.exit_edit()">Back To Stories</button>
				</div>
			</header>
			
			<!-- page editor -->
			<fieldset class = "center-contents">
				<p class = "editor-title-cont spacer-bottom">
					<label class = "bold" for = "page_title">Title</label>
					<input 	id = "page_title"
							ng-model = "v_page.current.page.title"
							ng-model-options = "{getterSetter: true}"/>
				</p>
				<p class = "editor-text-cont">
					<label class = "bold" for = "page_text">Text</label>
					<textarea 	id = "page_text"
								ng-model = "v_page.current.page.text"
								ng-model-options = "{getterSetter: true}"></textarea>
				</p>
			</fieldset>
		</section>
		
		<!-- option section -->
		<section ng-if = "v_page.current.page" class = "option-container">
			<header class = "panel-head">
				<h5 class = "panel-head-title">Options</h5>
				<div class = "panel-head-buttons">
					<button ng-if = "v_page.any_child_pages_do_not_exist(v_page.current.page)" ng-click = "v_page.current.page.spawn_all_child_pages()">Create All Child Pages</button>
					<button ng-click = "v_page.current.page.add_option()">Add Option</button>
				</div>
			</header>
			
			<!-- options -->
			<div class = "option-repeater">
				<article tabindex = 100 class = "option-box" ng-repeat = "option in v_page.current.page.get_options() | orderBy: '_sort_order'">
					<strong class = "float-left">#{{option._sort_order}}</strong><h6>Option Text:</h6>
					<textarea ng-model = "option.text" ng-model-options = "{getterSetter: true}"></textarea>
					<div class = "equal-buttons"> <!-- god this is ugly, whitespace screws up the layout of the buttons -->
						<button ng-click = "option.sort_up()"><i class = "fa fa-chevron-circle-up icon-4x"></i></button><button ng-click = "v_page.delete_option(option)"><i class = "fa fa-times-circle icon-4x"></i></button><button ng-click = "option.sort_down()"><i class = "fa fa-chevron-circle-down fa-icon-4x"></i></button>
					</div>
					<div class = "whole-button">
						<button class = "icon-text-button" ng-if = "option.get_target_page()" ng-click = "v_page.current.page = option.get_target_page()">
							<i class = "fa fa-edit"></i>Edit {{option.get_target_page().disp_title()}}
						</button>
						<button class = "icon-text-button" ng-if = "!option.get_target_page()" ng-click = "option.spawn_target_page()">
							<i class = "fa fa-file-text"></i>Create Target Page
						</button>
					</div>
				</article>
			</div>
		</section>
	</div>
	
	<div ng-if = "! v_page.current.story" class = "right-view panel">
		<h5>No Story Selected</h5>
		<h6><a href = "#/stories">Select a story</a></h6>
	</div>
	
</div>