<div class = "wrapper" ng-if = "v_story.users.logged_in()">

	<!-- left/top control panel -->
	<div class = "left-view panel">
		
		<!-- left/top panel header -->
		<header class = "panel-head">
			<h5 class = "panel-head-title">Stories</h5>
			<div class = "panel-head-buttons">
				<button ng-if = "v_story.users.logged_in()"
						ng-click = "v_story.create_new_story()">Create Story</button>
			</div>
		</header>
		
		<!-- story picker -->
		<section class = "picker-container">
			<article 			class = "picker-item"
								ng-class = "{'picker-selected': v_story.current.story._id === story._id}"
								ng-repeat = "story in v_story.pages.stories"
								ng-click = "v_story.select_story(story)">
				<header class = "panel-head">
					<h6 class = "panel-head-title">{{story.disp_title()}}</h6>
					<strong ng-if = "story.modified" class = "float-right">*</strong>
				</header>
				<p class = "picker-text">{{story.disp_description()}}</p>
			</article>
		</section>
	</div>
	
	<!-- right/bottom editor panel -->
	<div class = "right-view panel">
		<!-- story editor -->
		<section ng-if = "v_story.current.story">
			<!-- story editor title -->
			<header class = "panel-head">
				<h5 class = "panel-head-title">Edit</h5>
				<div class = "panel-head-buttons">
					<button class = "u-pull-right"
							ng-click = "v_story.save_current_story()"
							title = "Save">Save</button>
					<button class = "u-pull-right"
							ng-click = "v_story.edit_pages()"
							title = "Write Pages">Edit Pages</button>
				</div>
			</header>
			
			<!-- story editor edit panel -->
			<div class = "center-contents">
				<fieldset class = "left-align-contents it">
					<p class = "field">
						<label class = "cell-center" for "story_public_view">Publically Readable?</label>
						<span class = "cell-center"><input 	type = "checkbox"
								id = "story_public_view"
								ng-model = "v_story.current.story.public_view"
								ng-model-options = "{getterSetter: true}"/></span>
					
						<label class = "cell-center" for = "story_public_edit">Publically Editable?</label>
						<span class = "cell-center"><input 	type = "checkbox"
								id = "story_public_edit"
								ng-model = "v_story.current.story.public_edit"
								ng-model-options = "{getterSetter: true}"/></span>
					</p>
				</fieldset>
				<p class = "editor-title-cont">
					<label for = "story_title">Title</label>
					<input 	id = "story_title"
							ng-model = "v_story.current.story.title"
							ng-model-options = "{getterSetter: true}"/>
				</p>
				<p class = "editor-text-cont">
					<label for = "story_description">Description</label>
					<textarea 	id = "story_description"
								ng-model = "v_story.current.story.description"
								ng-model-options = "{getterSetter: true}"></textarea>
				</p>
			</div>
		</section>
	</div>

</div>


<div ng-if = "!v_story.users.logged_in()" class = "panel center-column center-contents">
	 <h5 class = "spacer-bottom">Login to view your stories</h5>
	 <venture-login></venture-login>
</div>