<div class = "v_page container">
	<div class = "row">
		<!-- left/top control panel -->
		<div class = "four columns panel picker_container">
			<div class = "container">
				<section class = "row">
					<header>
						<h5 class = "ib">Pages</h5>
						<button class = "u-pull-right"
							ng-click = "v_page.save_all_pages()">Save All</button>
					</header>
					<!-- this should be a component... maybe with a mode for a 'real' picker and one just for display like in the popup -->
					<article 	class = "picker_item"
								ng-show = "!page.ui.collapsed"
								ng-click = "v_page.current.page = page" 
								ng-repeat = "page in v_page.pages.sorted_page_list track by $index"
								ng-class = "{'picker_selected': v_page.current.page._id === page._id}"
								ng-style = "{'margin-left': v_page.page_margin(page.ui.depth)}"
								>
						<header>
							<strong 	ng-attr-title = "{{page.ui.cx_collapsed ? 'Expand' : 'Collapse'}}" 
										class = "nav" 
										ng-click = "v_page.toggle_collapsed(page)">{{page.ui.cx_collapsed ? "+" : "-"}}</strong>
							<p class = "picker_title ib">{{page.disp_title()}}</p>
							<strong ng-if = "page.modified" class = "u-pull-right">*</strong>
						</header>
						<p class = "picker_text">{{page.disp_text()}}</p>
					</article>
					
				</section>
			</div>
		</div> <!-- four columns panel -->
		
		<!-- right/bottom main panel -->
		<div ng-if = "v_page.current.story" class = "eight columns panel">
			<section class = "row edit_panel" ng-if = "v_page.current.page">
				<!-- page editor -->
				<header>
					<h5 class = "ib">Edit</h5>
					
					<!-- maybe a save current button goes here? -->
					<button class = "u-pull-right"
							ng-click = "v_page.exit_edit()">Exit</button>
					<button class = "u-pull-right"
							ng-click = "v_page.delete_page(v_page.current.page)">Delete Page</button>
				</header>
				
				<section class = "main_page_editor">
					<label for = "page_title">Title</label>
					<input 	id = "page_title"
							class = "editor_title"
							ng-model = "v_page.current.page.title"
							ng-model-options = "{getterSetter: true}">
					<label for = "page_text">Text</label>
					<textarea 	id = "page_text"
								class = "editor_text"
								ng-model = "v_page.current.page.text"
								ng-model-options = "{getterSetter: true}"></textarea>
				</section>
				<!-- options -->
				<section>
					<button ng-click = "v_page.current.page.add_option()">Add Option</button>
					<button ng-if = "v_page.any_child_pages_do_not_exist(v_page.current.page)" ng-click = "v_page.current.page.spawn_all_child_pages()">Create All Child Pages</button>
					<div class = "options_list">
						<article ng-repeat = "option in v_page.current.page.get_options() track by $index">
							<label>Option Text:</label>
							<button ng-click = "v_page.delete_option(option)">Delete Option</button>
							<textarea ng-model = "option.text" ng-model-options = "{getterSetter: true}"></textarea>
							<footer>
								<!-- if there's no target page -->
								<button class = ".nav" ng-if = "! option.get_target_page()" ng-click = "option.spawn_target_page()">
									<!--<span class = "nav_arrow">&#10551;</span>-->Create Target Page
								</button>
								<!-- if there is a target page -->
								<button class = "nav" ng-if = "option.get_target_page()" ng-click = "v_page.current.page = option.get_target_page()">
									<div class = "nav_button_row">
										<div class = "left nav_arrow">&#10551;</div>
										<div class = "right">Edit {{option.get_target_page().disp_title()}}</div>
									</div>
								</button>
							</footer>
						</article>
					</div>
				</section>
				
			</section>
		</div> <!-- eight columns panel -->
		
		<div ng-if = "! v_page.current.story" class = "eight columns panel nothing_here">
			<h5>No Story Selected</h5>
			<h6><a href = "#/stories">Select a story</a></h6>
		</div>
		
	</div> <!-- row -->
</div> <!-- container -->