<div class = "v_story_user container">
	<div class = "row">
		<div class = "eight columns offset-by-two panel">
			<header>
				<h5>Stories</h5>
				<!-- some buttons here? -->
			</header>
			<article 	class = "picker_item"
						ng-class = "{'picker_selected': v_story.current.story._id === story._id}"
						ng-repeat = "story in v_story.pages.stories"
						ng-click = "v_story.current.story = story">
				<header>
					<p class = "picker_title button_row">
						{{story.disp_title()}}
						<button ng-if = "v_story.current.story._id === story._id" ng-click = "v_story.read_story(story)">Read</button>
					
					</p>
				</header>
				<p class = "picker_text">{{story.disp_description()}}</p>
			</article>
		</div>
	</div>
</div>