<div class = "container">
	<div class = "row">
		<!-- left/top control panel -->
		<div class = "four columns panel">
			<div class = "container">
				<section class = "row">
					<h5>Things</h5>
					<p>Some things here</p>
					<p>Some longer things here words words words words words words keep it rolling words words words words words words words words</p>
					<p>Something short</p>
				</section>
			</div>
		</div>
		<!-- right/bottom main panel -->
		<div class = "eight columns panel">
			<section class = "row">
				<h5>Main Stuff</h5>
			</section>
		</div>
	</div>
</div>